* {
margin: 0;
padding: 0;
}
body{
	font-family: sans-serif;
}
.wrapper{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.container {
max-width: 1366px;
margin: 0 auto;
}
.container1 {
max-width: 1366px;
margin: 0 auto;
}
.main{
	flex-grow: 1;
}
.main_window{
	flex-grow: 1;
}
.paragraph{
	font-size: 16px;
	line-height: 26px;
	color: #1F3F68;
	letter-spacing: 0.05em;
	opacity: 0.6;
}
.head1{
	font-size: 64px;
	color: #1F3F68;
	width: 510px;
	font-size: 64px;
	font-weight: 300;
	letter-spacing: 0.04em;
	margin-bottom: 32px;
}
.head2{
	font-weight: 500;
	font-size: 44px;
	text-align: center;
	line-height: 74px;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	margin-top: 47px;
}
.head3{
	font-size: 36px;
	text-align: center;
	font-weight: 300;
	line-height: 46px;
	letter-spacing: 0.05em;
}
.head4{
	font-size: 20px;
	line-height: 30px;
	color: #1F3F68;
	letter-spacing: 0.05em;
	margin-bottom: 14px;

}
.inputarea{
	border: 1px solid #356EAD;
	box-sizing: border-box;
	border-radius: 10px;
	opacity: 0.4;
	width: 428px;
	padding: 21px 42px;
}
.btn{
	background: #5A98D0;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
}
.navMenu{
	display: flex;
	justify-content: space-between;
	background-color: #FFFFFF;
}
.first-paragraf {
	width: 425px;
}
.top-container{
	height: 768px;
	background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
	display: flex;
	flex-direction: column;
	padding: 42px 114px;

}
.header{
	padding-top: 115px;
	flex-grow: 1;
	background-image: url(img/illustration.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.top_button{
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	background: #5A98D0;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius: 10px;
	padding: 15px 50px;
	text-decoration: none;
	display: inline-block;
	margin-top: 71px;
}



@media (min-width: 377px) and (max-width: 768px){
	.top-container{
		padding: 32px;
	}
	.header{
		padding-top: 115px;
		background-position: right bottom;
		background-size: 50% auto;
	}
}
@media  (max-width: 376px){
	.top-container{
		padding: 20px 16px;
		justify-content: center;
		height: 376px;
	}
	.header{
		padding-top: 6px;
		background-image: none;
		text-align: center;
	}	
	.first-paragraf {
		width: 100%;
		text-align: center;
	}
	.headerTitle{
		width: 100%;
		font-size: 32px;
		line-height: 37px;
		text-align: center;
	}
	.top_button{
		font-size: 16px;
		line-height: 26px;
		padding: 5px 5px;
		text-decoration: none;
		display: inline-block;
		margin-top: 32px;
	}

}
















.artile-whatWeDo{
	width: 30%;
	padding: 44px 32px;
	box-sizing: border-box;
	background: #FFFFFF;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.image-whatWeDo{
	align-self: center;
	margin-bottom: 51px;

}
.articlesWindow{
	display: flex;
	justify-content: space-between;
	padding-top: 64px;
	padding-bottom: 64px;
}
.what-we-do{
	padding-top: 64px;
	padding-left: 113px;
	padding-right: 113px;
}
@media (min-width: 377px) and (max-width: 768px){
	.articlesWindow{
		width: 100%;
		flex-direction: column;
		justify-content: center;
	}
	.artile-whatWeDo{
		width: 100%;
		margin-bottom: 32px;
	}
	.what-we-do{
		padding-top: 64px;
		padding-left: 113px;
		padding-right: 113px;
	}
}
@media  (max-width: 376px){
	.what-we-do{
		padding-top: 48px;
		padding-left: 19px;
		padding-right: 19px;
	}
	.articlesWindow{
		width: 100%;
		flex-direction: column;
		justify-content: center;
	}
	.artile-whatWeDo{
		width: 100%;
		margin-bottom: 32px;
	}
	.whatWeDoTitle{
		font-size: 24px;
		line-height: 28px;
	}
}















.contactInfo{
	display: flex;
	justify-content: space-between;
}

.rightsFooter{
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	opacity: 0.4;
	margin-top: 64px;
}









.card__link{
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #5A98D0;
	text-decoration: none;
}
.top_box{
	display: flex;
	flex-direction: column;

}	
.contactUs{
	height: 250px;
	background-image: url(img/mask.svg);
	background-position: center top 14px;
	background-repeat: no-repeat;
}
.contact_text{
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.6);
	margin-left: 293px;
	margin-right: 293px;
}
.contactInfo{
	height: 950px;

}
.contactInfoText{
	width: 400px;
	margin-left: 214px;
}
.feedback{
	width: 428px;
	height: 688px;
	background: #FFFFFF;
	box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	margin-top: 53px;
	margin-right: 212px;
	padding: 56px;

}
.mapArea{
	margin-left: 213px;
}
.nameOfInputs{
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.8;
	margin-bottom: 8px ;
}
.inputTitle{
	letter-spacing: 0.04em;
}
.messBtn{
	width: 328px;
	line-height: 42px;

}
.input1{
	margin-top: 48px;
}
.input2{
	margin-top: 48px;
}
.input3{
	margin-top: 48px;
}
.contactInfoContext{
	margin-top: 53px;
	height: 800px;
	padding-right: 100px;
}
.imgContactsBox{
	height: 181px;
	margin-top: 78px;
}
.contatcItemsTitle{
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	font-style: normal;
	margin-top: 40px;
	margin-bottom: 24px;
}
.phoneListItem{
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.04em;
	color: #1F3F68;
    opacity: 0.6;
    text-decoration: none;
}
.phoneList{
	list-style-image: url(img/phone.svg);
	margin-left: 24px;
}
.webList{
	margin-left: 24px;
}
.webListItem1{
	list-style-image: url(img/globe.svg);
}
.webListItem2{
	list-style-image: url(img/envelop.svg);
}







 /* Cтили для галереи*/
.galleryBlock1{
	grid-area: block1;
	object-fit: contain;
}
.block1title{
	font-size: 36px;
	line-height: 46px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #000000;
	text-align: center;
	margin-bottom: 32px;
}
.block1text{
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #222222;
	padding: 0 195px;
	opacity: 1;
	margin-bottom: 32px;
}
.galleryBlock2{
	grid-area: block2;
	object-fit: contain;
	border-radius: 10px;
	position: relative;
}
.imgGallery{
	max-width: 100%;
	height:auto;
}
.galleryBlock3{
	grid-area: block3;
	object-fit: fill;
	border-radius: 10px;
	position: relative;
}
.galleryBlock4{
	grid-area: block4;
	object-fit: fill;
	border-radius: 10px;
	position: relative;
}
.gallery{
	width: 100%;
	display: grid;
	grid-template-columns: 8fr 41fr 2fr 41fr 8fr ;
	grid-template-rows: auto;
	grid-row-gap: 32px;
	grid-template-areas: 
    " . block1 block1 block1 ."
    " . block2 block2 block2 ."
    " . block3   .    block4 .";
}
.linkgallery{
	font-size: 2em;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	position: absolute;
	z-index: 1;

}
.linkBlock2{
	top:  10%;
	right: 10%;
}
.linkBlock3{
	top:  10%;
	left: 10%;
}
.linkBlock4{
	top:  10%;
	left: 10%;
}


@media (min-width: 377px) and (max-width: 768px){
	.gallery{
		grid-template-columns: 4fr 44fr 4fr 44fr 4fr ;
		grid-row-gap: 16px;
	}
	.block1text{
		padding: 0 92px;
	}
	.linkgallery{
		font-size: 1em;
		line-height: 32px;
		letter-spacing: 0.05em;
	}
}
@media  (max-width: 376px){
	.gallery{
		grid-template-columns: 4fr 92fr 4fr ;
		grid-row-gap: 16px;
		grid-template-areas: 
    " block1 block1  block1 "
    " . block2  . "
    " . block3  . "
    " . block4  . ";

	}
	.block1title{
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 32px;
	}
	.block1text{
		padding: 0 15px;	
	}
	.linkgallery{
		font-size: 16px;
		line-height: 19px;
	}
}
 /* Cтили для галереи*/


 /* Cтили для футера*/
.footer{
	background: #316099;
	margin-top: 112px;
}
.topFooter{
	margin: 90px 113px;
	display: flex;
}
.bottomFooter{
	margin: 60px 113px;
}
.footerArtile{
	width: 50%;
}
.topFooterButton{
	width: 50%;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.footerBtn{
	float: right;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	background: #5A98D0;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	padding: 15px 80px;
	text-decoration: none;
	display: inline-block;
	margin-top: 71px;
}
hr{
	color: #316099;
	opacity: 0.4;
}
.footerArtileTitle{
	max-width: 320px;
	font-size: 36px;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	text-align: left;
	margin-bottom: 32px;
}
.footerArtileText{
	max-width: 495px;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	opacity: 0.6;
}
.contactsItemsList{
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}
.contactItem{
	width: 33%;
	padding-left: 19px;
	padding-right: 5px;
	margin-right: 40px;
}

@media (min-width: 377px) and (max-width: 768px){
	.topFooter{
		margin: 14% 16% 20% 16%;
	}
	.footerArtileTitle{
		max-width: 336px;
	}
	.footerArtile{
		width: 67%;
	}
	.topFooterButton{
		width: 33%;
	}
	.footerBtn{
		letter-spacing: 0.04em;
		color: #FFFFFF;
		background: #5A98D0;
		box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
		padding: 3px 30px 11px 30px;
		text-decoration: none;
		display: inline-block;
		margin-top: 71px;
	}
	.bottomFooter{
		margin: 64px 125px;
		display: flex;
		flex-direction: column;
	}
	.contactsItemsList{
		display: flex;
		flex-direction: column;
		justify-content: space-between;

	}
	.contactItem{
		width: 100%;
		padding-left: 45px;
		margin-bottom: 24px;
		margin-right: 40px;
	}
	.rights{
		margin-top: 40px;
	}
}

@media  (max-width: 376px){
	.footer{
		margin-top: 64px;
	}
	.topFooter{
		margin: 18px 16px;
		display: flex;
		flex-direction: column;

	}
	.footerArtileTitle{
		max-width: 100%;
		text-align: center;
		font-size: 24px;
		line-height: 28px;
		padding-left: 10%;
		padding-right: 10%;
	}
	.footerArtile{
		width: 100%;
		text-align: center;
	}
	.topFooterButton{
		width: 100%;
		text-align: center;
	}
	.footerBtn{
		float: none;
		letter-spacing: 0.04em;
		color: #FFFFFF;
		background: #5A98D0;
		box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
		padding: 3px 30px 11px 30px;
		text-decoration: none;
		display: inline-block;
		margin-top: 40px;
	}
	.bottomFooter{
		margin: 32px 15px;
		display: flex;
		flex-direction: column;
	}
	.contactsItemsList{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}
	.contactItem{
		width: 90%;
		margin-left: 10%;
		padding-left: 23px;
		margin-bottom: 17px;
	}
	.rights{
		margin-top: 40px;
		text-align: center;
	}
}
/* Cтили для футера*/